#timeline-header {
    text-align: center;
    color: white;
    letter-spacing: 0.1em;
    font-weight: 500;
    padding: 10px;
    font-size: 1.7em;
}

#timeline-subheader {
    text-align: center;
    color: white;
    letter-spacing: 0.1em;
    font-weight: 500;
    /* padding: 10px; */
    font-size: 1.4em;
}

.timeline-input {
    width: 75%;
    background-color: rgba(253, 198, 255, 0);
    height: 20px;
    padding: 5px;
    border-radius: 2px;
    /* margin-left: 15px; */
    margin-left: 12.5%;
    margin-bottom: 10px;
    /* color: rgb(56,49,64); */
    color: rgb(253, 198, 255);
    display: inline-block;
    border-color: rgb(253, 198, 255);
}

.timeline-button {
    margin-left: 12.5%;
    margin-top: 10px;
    width: 76%;
    /* background-color: rgb(253, 198, 255); */
    background-color: rgba(163, 113, 196, 0.106);
    color: rgb(253, 198, 255);
    border-color: rgb(253, 198, 255);
    height: 25px;
    cursor: pointer;
}

.timeline-user {
    background-color: rgba(163, 113, 196, 0.106);
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    color: rgb(253, 198, 255);
}

