{% extends "index.html" %}
{% block body %}
<h1 id = "hobbies-header">Hobbies</h1>
<div id = "hobbies-body">
    <div>
        <div class = "hobbies-img-crop">
            <img src = "../static/img/coding.jpeg" class = "hobbies-img">
        </div>
        <h3 class = "hobbies-name">Coding</h3>
    </div>
    <div>
        <div class = "hobbies-img-crop">
            <img src = "../static/img/gaming.jpeg" class = "hobbies-img">
        </div>
        <h3 class = "hobbies-name">Gaming</h3>
    </div>
    <div>
        <div class = "hobbies-img-crop">
            <img src = "../static/img/drawing.png" class = "hobbies-img">
        </div>
        <h3 class = "hobbies-name">Drawing</h3>
    </div>
    <div>
        <div class = "hobbies-img-crop">
            <img src = "../static/img/running.jpeg" class = "hobbies-img">
        </div>
        <h3 class = "hobbies-name">Running</h3>
    </div>
    <div>
        <div class = "hobbies-img-crop">
            <img src = "../static/img/soccer.jpeg" class = "hobbies-img">
        </div>
        <h3 class = "hobbies-name">Soccer</h3>
    </div>
    <div>
        <div class = "hobbies-img-crop">
            <img src = "../static/img/music.jpeg" class = "hobbies-img">
        </div>
        <h3 class = "hobbies-name">Music</h3>
    </div>
</div>
{% endblock %}