{% extends "kayla_index.html" %}
{% block title %}{{ super() }} {% endblock %}
{% block body %}
<h1 id = "experience-header">Previous Experience</h1>
<div id = "experience-columns">
    <h2 class = "experience-type">Projects</h2>

    <div class = "experience-posts">
        <h3 class = "experience-post-title">Tech Scholars Programs at the New-York Historical Society</h3>
        <p class = "experience-post">Participated in three programs (Web Design I & II, Video Games) and learned HTML, CSS, and JavaScript</p> 
        <p class = "experience-post">Designed two websites and a video game highlighting accomplished women in history, and worked with Bootstrap, p5.play, and p5.js </p>
        <h3 class = "experience-post-title">MERIT Scholars Program at Stony Brook University</h3>
        <p class = "experience-post">Collaborated with a partner over the summer to create an action-adventure game using PyGame</p>
        <p class = "experience-post">Explored Computer Science applications in Data Science with exposure to pandas, NumPy, and matplotlib</p>
        <p class = "experience-post">Created a shopping website using Python Flask in a team of 3 over winter break</p>
    </div>

    <h2 class = "experience-type">Experiences</h2>

    <div class = "experience-posts">
        <h3 class = "experience-post-title">Vertically Integrated Projects (Tech Businesses in Development Team), Stony Brook University</h3> <p class = "experience-date"> Aug. 2021 - Present</p>
        <p class = "experience-post">Developing an application with 4 peers to facilitate a transportation service among classmates (beginning stage)</p>
        <h3 class = "experience-post-title">Graphic Designer, Women in Computer Science Club at Stony Brook University</h3> <p class = "experience-date"> Jun. 2021 - Present</p>
        <p class = "experience-post">Designing engaging graphics to promote club events, scholarships, and other valuable opportunities using Canva</p>
        <p class = "experience-post">Creating multiple versions per design for use across all social media platforms</p>
        <h3 class = "experience-post-title">Tech Intern, Cultured Kids Cuisine (CKC)</h3>                                                                 <p class = "experience-date"> Jul. 2021 - Aug. 2021</p>
        <p class = "experience-post">Coded a program in Python that would allow CKC to send monthly mass point summary emails</p>
        <p class = "experience-post">Created a simple web application using Python Flask that incorporated the email sending and email draft creation</p>
        <p class = "experience-post">Conducted outreach via email to 200+ schools, chefs, influencers, newspapers, and parent groups</p>
        <h3 class = "experience-post-title">Computer Science Division Intern, Sparks Within Reach </h3>                                          <p class = "experience-date"> Jan. 2021 - Aug. 2021</p>   
        <p class = "experience-post">Collaborated with 2 peers to create mini educational games to boost student engagement and cognitive abilities in homeless youth </p>
        <p class = "experience-post">Designed and updated pages on Figma and worked on coding the curriculum pages for their web application</p>
        <p class = "experience-post">Utilized JavaScript, Phaser, React, and Next.js as part of the Game Development and Frontend teams</p>
        <h3 class = "experience-post-title">Web Development Intern, HKP Solutions </h3>                       <p class = "experience-date">Dec. 2020 – May 2021</p>   
        <p class = "experience-post">Focused on developing screens for HKP’s web application using React and Redux</p>
        <p class = "experience-post">Completed another All Tech Collab Project, where each Web Dev intern collaborated with Android, iOS, and backend team members to create a fully functioning application to test what was learned in training</p>
        <p class = "experience-post">Handled weekly training reviews for the Talent Agency track interns</p>
        <h3 class = "experience-post-title">iOS Frontend Intern, HKP Solutions </h3>                                    <p class = "experience-date">Sept. 2020 – Dec. 2020</p>
        <p class = "experience-post">Worked on HKP’s beta version of their mobile application that is targeted towards improving hotel housekeeping and enhancing the customer experience </p>
        <p class = "experience-post">Collaborated in tech trios (iOS, Android, Backend) to work on backend integration for account verification</p>
        <p class = "experience-post">Completed an All-Tech Project, where each iOS intern partnered with a backend member to create a basic shopping app</p>
    </div>

    <h2 class = "experience-type">Skills</h2>

    <div class = "experience-posts">
        <h3 class = "experience-post-title">Technical Languages & Frameworks </h3>
        <p class = "experience-post">Python, Java, HTML/CSS, JavaScript, SwiftUI, React, MIPS</p>
    </div>
</div>
{% endblock %}