{% extends "kayla_index.html" %}
{% block body %}
<h1 id = "hobbies-header">Hobbies</h1>
<div id = "hobbies-body">
    <div class = "hobbies-item">
        <div class = "hobbies-img-crop">
            <img src = "../static/img/" class = "hobbies-img">
        </div>
        <h3 class = "hobbies-name"></h3>
    </div>
    <div class = "hobbies-item">
        <div class = "hobbies-img-crop">
            <img src = "../static/img/" class = "hobbies-img">
        </div>
        <h3 class = "hobbies-name"></h3>
    </div>
    <div class = "hobbies-item">
        <div class = "hobbies-img-crop">
            <img src = "../static/img/" class = "hobbies-img">
        </div>
        <h3 class = "hobbies-name"></h3>
    </div>
    <div class = "hobbies-item">
        <div class = "hobbies-img-crop">
            <img src = "../static/img/" class = "hobbies-img">
        </div>
        <h3 class = "hobbies-name"></h3>
    </div>
    <div class = "hobbies-item">
        <div class = "hobbies-img-crop">
            <img src = "../static/img/" class = "hobbies-img">
        </div>
        <h3 class = "hobbies-name"></h3>
    </div>
    <div class = "hobbies-item">
        <div class = "hobbies-img-crop">
            <img src = "../static/img/" class = "hobbies-img">
        </div>
        <h3 class = "hobbies-name"></h3>
    </div>
</div>
{% endblock %}