{% extends "kayla_index.html" %}
{% block body %}
<div id = "about-body-kayla">
    <h1 id = "about-hi">hi, i'm kayla</h1>
    <div id = "about-img-crop">
        <img src = "../static/img/kayla.png" id = "about-img">
    </div>
    <div id = "about-text">
        <h1 id = "about-header">About Me</h1>
        <p id = "about-me">My name is Kayla Fang. </p>
    </div>
    <div class = "circle1"></div>
    <div class = "circle2"></div>
    <!-- <a href="/">
        <p>back</p>
    </a> -->
</div>
{% endblock %}