{% extends "mario_index.html" %}
{% block body %}
<div id = "about-body">
    <h1 id = "about-hi">hi, i'm mario</h1>
    <div id = "about-img-crop">
        <img src = "../static/img/id.jpg" id = "about-img">
    </div>
    <div id = "about-text">
        <h1 id = "about-header">About Me</h1>
        <p id = "about-me">My name is Mario Zuniga. I'm going to be a junior majoring in Computer Science at UC Berkeley. I'm from the Bay Area in California and have always 
            enjoyed learning about technology and software in particular. I aspire to become a software engineer one day and seek to work hard to do so. </p>
    </div>
    <div class = "circle1"></div>
    <div class = "circle2"></div>
    <!-- <a href="/">
        <p>back</p>
    </a> -->
</div>
{% endblock %}