{% extends "mario_index.html" %}
{% block title %}{{ super() }} {% endblock %}
{% block body %}
<h1 id = "experience-header">Previous Experience</h1>
<div id = "experience-columns">
    <h2 class = "experience-type">Projects</h2>

    <div class = "experience-posts">
        <h3 class = "experience-post-title">Jump 61B</h3>
        <p class = "experience-post">Implemented the 2-player strategy game KJumpingCube in Java, including a command-line interface to play the game.
        Implemented an AI decision-making system using optimization techniques like alpha-beta pruning and heuristics. </p>
        <h3 class = "experience-post-title">Gitlet</h3>
        <p class = "experience-post">A version-control system with local functionality of the popular repository system Git, programmed with Java
        Implemented various commands such as add, remove, status, merge, and reset that allows the user to store and restore versions of different files </p>
        <h3 class = "experience-post-title">Scheme Interpreter </h3> 
        <p class = "experience-post">An interpreter of the Scheme programming language created using Python
        Used string tokenization in order to read and process inputs properly</p>
        <h3 class = "experience-post-title">UFO Fighters</h3>
        <p class = "experience-post">A two-player game based off Atari’s 1975 release of the game Jet Fighters, programmed with Python and the PyGame library</p>
        <p class = "experience-post">Has two-player keyboard functionality and implements different features such as lives counters and player boundaries</p>
    </div>

    <h2 class = "experience-type">Experiences</h2>

    <div class = "experience-posts">
        <h3 class = "experience-post-title">Theatre Tech, Bellarmine College Preparatory</h3>                                                                 <p class = "experience-date">November 2016 - May 2020</p>
        <p class = "experience-post">Learned to use different power tools to construct sets for the school’s 3 yearly theatrical plays</p>
        <p class = "experience-post">Filled different roles during performances including house, stage crew, lighting, and stage management positions</p>
        <h3 class = "experience-post-title">Tutor, Breakthrough Silicon Valley, San Jose CA </h3>                                          <p class = "experience-date">October 2019 - February 2020</p>   
        <p class = "experience-post">Helped middle school students with their daily homework assignments in subjects such as math, language arts, and science</p>
        <h3 class = "experience-post-title">Volunteer, Sacred Heart Community Service, San Jose CA </h3>                       <p class = "experience-date">October 2018 - March 2019</p>   
        <p class = "experience-post">Assisted in food and clothes distribution to socioeconomically disadvantaged communities</p>
        <p class = "experience-post">Assisted in the organization of food and clothes in storage areas</p>
        <h3 class = "experience-post-title">Volunteer, Rose Garden Court, San Jose CA </h3>                                    <p class = "experience-date">December 2017 - March 2018</p>
        <p class = "experience-post">Helped workers with everyday tasks</p>
        <p class = "experience-post">Spent time with seniors through conversations, lunch, and games</p>
        <h3 class = "experience-post-title">Volunteer, Anne Darling Elementary School, San Jose CA </h3>                                <p class = "experience-date">October - November 2016</p>
        <p class = "experience-post">Helped 1st grade students learn many fundamental skills, including math and reading</p>
        <p class = "experience-post">Assisted teachers with preparing class materials and lesson plans, as well as assisting them with more general tasks</p>
    </div>

    <h2 class = "experience-type">Skills</h2>

    <div class = "experience-posts">
        <h3 class = "experience-post-title">Technical Languages & Frameworks </h3>
        <p class = "experience-post">Python, Java, Scheme, Snap!</p>
    </div>
</div>
{% endblock %}