{% extends "mario_index.html" %}
{% block body %}
<h1 id="timeline-header">Timeline</h1>

<h2 id="timeline-subheader">Add Something To The Timeline</h2>

<form id="form">
    <input type="text" name="name" class="timeline-input" placeholder="Name"><br>

    <input type="text" name="email" class="timeline-input" placeholder="Email"><br>

    <input type="text" name="content" class="timeline-input" placeholder="Message"><br>

    <button type="submit" class="timeline-button">Submit</button>
</form>

<br><br>
<h2 id="timeline-subheader">Previous Posts</h2>

<div id="app"></div>


<script src="../static/timeline.js"></script>



{% endblock %}